@media all and (max-width: 770px) {
  .tab-area {
    display: flex;
  }
  .content-area {
    display: block;
  }
  .work-list__item {
    display: none;
  }
  .tab-item {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
