@media all and (max-width: 770px){
    .header-bar{
        display: block;
    }

    .header-right__list,.header-sns{
        display: none;
    }

    .top-content__text{
        font-size: 30px;
    }

    .about-main{
        flex-direction: column;
        padding: 30px 0;
    }

    .about-img{
        margin-bottom: 25px;
    }

    .about-text{
        margin: 0 auto;
        
        width: 90%;
    }

    .feature-list{
        flex-direction: column;

        &__item{
            width: 95%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}
